body {
  font-family: "Poppins", Poppins;
}

/* Main Page */
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
}

.navbar-brand {
  font-family: 'Instrument Sans';
}

.carousel-item {
  height: 400px;
}

/* Article */
.main {
  margin-top: 20px;
  display: flex;
}

.side {
  width: 40%;
}


.icon-share {
  padding: 3px 7px;
  background-color: gray;
  color: black;
  border-radius: 50%;
}

.icon-share:hover {
  background-color: rgba(160, 160, 160, .5);
  color: rgba(59, 59, 59, .5);
}

.vl {
  border-left: 1px solid rgba(51, 51, 51, 0.2);
}

.title {
  color: rgb(122, 122, 255);
  text-align: center;
}

.isi-berita {
  margin-top: 80px;
}

.image {
  width: 768px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 200px;
  }
}