body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Poppins;
}

/* Main Page */
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.navbar-brand {
  font-family: "Instrument Sans";
}

.brand {
  width: 40px;
}

.ig {
  background: linear-gradient(20deg,
      rgba(254, 218, 112, 1) 0%,
      rgba(250, 126, 30, 1) 24%,
      rgba(214, 41, 112, 1) 60%,
      rgba(150, 47, 191, 1) 81%,
      rgba(79, 91, 213, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.yt {
  color: rgba(255, 0, 0, 1);
}

/* Hamburger Menu */
.hamburger-menu {
  background-color: transparent;
  border: none;
}

.hamburger-menu span {
  display: none;
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  background-color: rgba(85, 85, 85, 0.9);
  border-radius: 50px;
  transition: 0.3s;
}

.animate .bar1 {
  transform: translate(0, 8px) rotate(45deg);
}

.animate .bar2 {
  transform: scale(0);
}

.animate .bar3 {
  transform: translate(0, -8px) rotate(-45deg);
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.judul-artikel {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0;
  border: none;
}

.button {
  position: relative;
}

.icon {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon i {
  display: none;
}

.button:hover .icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
}

.button:hover .icon i {
  font-size: large;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.btn-share {
  position: relative;
  transition: 0.5s;
}

.btn-share:hover {
  padding-right: 25px;
}

.btn-share i {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  top: 7px;
  right: 5px;
}

.btn-share:hover i {
  opacity: 1;
  position: absolute;
  top: 7px;
  right: 6px;
}

.footer {
  padding: 6px 0 6px 0;
}

.bg-abu-abu {
  background-color: #e5e7eb;
}

/* Article */
.title {
  font-size: 30px;
}

.body {
  border-bottom: none;
}

.article {
  background-color: rgb(233, 233, 233, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.head {
  padding-bottom: 15px;
}

.icon-share {
  padding: 3px 7px;
  background-color: gray;
  color: black;
  border-radius: 50%;
}

.icon-share:hover {
  background-color: rgba(160, 160, 160, 0.5);
  color: rgba(59, 59, 59, 0.5);
}

.img-thumbnail {
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.sharing {
  border-top: 1px solid rgba(85, 85, 85, 0.2);
  text-align: end;
  padding: 10px;
}

.caption a {
  color: black;
}

/* Artikel lengkap */
.img-article {
  position: relative;
}

.img-container {
  height: 180px;
  object-fit: cover;
}

.text-header {
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.img-title {
  font-size: 50px;
  padding: 75px 120px;
  text-justify: distribute;
}

/* Responsive */
@media only screen and (max-width: 991px) {
  .hamburger-menu span {
    display: block;
  }

  .swiper-slide img {
    height: 350px;
  }

  .title {
    font-size: 26px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sosmed {
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 767px) {

  .article {
    margin: 5px 5px;
  }

  .img-title {
    padding: 60px 70px;
  }

  .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 567px) {
  .mini {
    margin: 0 15px 0 15px;
    padding: 2px 0 2px 0;
  }

  .img-title {
    padding: 60px 30px;
  }

  .swiper-slide img {
    height: 250px;
  }

  .txt {
    font-size: 18px;
  }

  .brand {
    width: 30px;
  }

  .card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer p {
    font-size: small;
  }
}