body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Poppins;
}

/* Main Page */
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
}

.navbar-brand {
  font-family: 'Instrument Sans';
}

.brand {
  width: 40px;
}

.ig {
  background: linear-gradient(20deg, rgba(254, 218, 112, 1) 0%, rgba(250, 126, 30, 1) 24%, rgba(214, 41, 112, 1) 60%, rgba(150, 47, 191, 1) 81%, rgba(79, 91, 213, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.yt {
  color: rgba(255, 0, 0, 1);
}

/* Hamburger Menu */
.hamburger-menu {
  background-color: transparent;
  border: none;
}

.hamburger-menu span {
  display: none;
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  background-color: rgba(85, 85, 85, 0.9);
  border-radius: 50px;
  transition: .3s;
}

.animate .bar1 {
  transform: translate(0, 8px) rotate(45deg);
}

.animate .bar2 {
  transform: scale(0);
}

.animate .bar3 {
  transform: translate(0, -8px) rotate(-45deg);
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.judul-artikel {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, .1);
  z-index: 10;
}

/* .carousel-item {
  height: 400px;
} */

.card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  padding: 0;
  border: none;
}

.button {
  position: relative;
  transition: .3s;
}

.button:hover .icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .8);
}

.icon i {
  display: none;
  transition: .6s;
}

.button:hover .icon i {
  font-size: large;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.more:hover svg {
  display: inline;
  transition: 1s;
}

.footer {
  padding: 6px 0 6px 0;
}

.bg-abu-abu {
  background-color: #e5e7eb;
}

/* Article */
.title {
  font-size: 30px;
}

.body {
  border-bottom: none;
}

/* .main {
  margin-top: 20px;
  display: flex;
}

.side {
  width: 40%;
}
*/

.article {
  background-color: rgb(233, 233, 233, .5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.head {
  padding-bottom: 15px;
}

.icon-share {
  padding: 3px 7px;
  background-color: gray;
  color: black;
  border-radius: 50%;
}


.icon-share:hover {
  background-color: rgba(160, 160, 160, .5);
  color: rgba(59, 59, 59, .5);
}

.img-thumbnail {
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.sharing {
  border-top: 1px solid rgba(85, 85, 85, 0.2);
  text-align: end;
  padding: 10px;
}

.caption a {
  color: black;
}

/*
.vl {
  border-left: 1px solid rgba(51, 51, 51, 0.2);
}


.title {
  color: rgb(122, 122, 255);
  text-align: center;
}

.isi-berita {
  margin-top: 80px;
}

.image {
  width: 768px;
} */

/* Responsive */
@media only screen and (max-width: 991px) {
  .hamburger-menu span {
    display: block;
  }

  .swiper-slide img {
    height: 350px;
  }

  .title {
    font-size: 26px;
  }


  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* 
  .carousel {
    margin-left: 15px;
    margin-right: 15px;
  }

  .carousel-item {
    height: 350px;
  } */

  .sosmed {
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  /* .carousel-item {
    height: 300px;
  } */

  .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 567px) {
  .mini {
    margin: 0 15px 0 15px;
    padding: 2px 0 2px 0;
  }

  .swiper-slide img {
    height: 250px;
  }

  /* 
  .carousel-item {
    height: 192px;
  } */

  .txt {
    font-size: 18px;
  }

  .brand {
    width: 30px;
  }

  .card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }


  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer p {
    font-size: small;
  }
}